In [2]:
#Import Necessary Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df=pd.read_csv("supershops.csv")
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [18]:
#Separating x and y
x=df.drop(['Profit'], axis=1)
y=df['Profit']

In [16]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [17]:
x2=x.copy()
y2=y.copy()

# Normlization

In [19]:
#Import Normalization Library
from sklearn.preprocessing import MinMaxScaler

In [20]:
m=MinMaxScaler()#Creating Object of Normalization Method

In [21]:
df_mar_sp=m.fit(x[["Marketing Spend"]])#Fit only calculates but it does not change the data frame
df_mar_sp

MinMaxScaler()

In [22]:
x["Marketing Spend"]=m.transform(x[["Marketing Spend"]])#Actually transforms data and replace in place

In [23]:
x.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617       136897.80  471784.10    Dhaka
1         0.983359       151377.59  443898.53      Ctg
2         0.927985       101145.55  407934.54  Rangpur
3         0.873136       118671.85  383199.62    Dhaka
4         0.859438        91391.77  366168.42  Rangpur

In [24]:
x2.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [27]:
x["Marketing Spend"].min()

0.0

In [26]:
x["Marketing Spend"].max()

1.0

# Standardization

In [44]:
x_st=x2.copy()

In [45]:
x_st.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

**Manual Method**

In [46]:
x_st["Marketing Spend"].mean()

73721.6156

In [47]:
x_st["Marketing Spend"].std()

45902.25648230753

In [48]:
dmy=x_st["Marketing Spend"].copy()
dmy.head()

0    114523.61
1    162597.70
2    153441.51
3    144372.41
4    142107.34
Name: Marketing Spend, dtype: float64

In [37]:
def standardizer(n):
    stdn=(n-73721.6156)/45902.25648230753
    return stdn
dmy.apply(standardizer)

0     0.888889
1     1.936203
2     1.736731
3     1.539157
4     1.489812
5     1.266937
6     1.326598
7     1.232543
8     1.020013
9     1.080846
10    0.614163
11    0.587125
12    0.438805
13    0.398037
14    1.006958
15    1.996146
16    0.093492
17    0.456090
18    0.392738
19    0.276633
20    0.055166
21    0.101691
22    0.005946
23   -0.134832
24    0.072380
25   -0.197309
26    0.035015
27   -0.035162
28   -0.167096
29   -0.176813
30   -0.255481
31   -0.274175
32   -0.224668
33   -0.397097
34   -0.594645
35   -0.603622
36   -0.981604
37   -0.645974
38   -1.165346
39   -0.766043
40   -0.979631
41   -0.998397
42   -1.091029
43   -1.268258
44   -1.122905
45   -1.584266
46   -1.577399
47   -1.606056
48   -1.594248
49   -1.606056
Name: Marketing Spend, dtype: float64

**Using Library**

In [40]:
#Importing Library yand creating object of Standard Scalar
from sklearn.preprocessing import StandardScaler
st=StandardScaler()

In [41]:
df_mar_st=st.fit(x_st[["Marketing Spend"]])#Fit only calculates but it does not change the data frame
df_mar_st

StandardScaler()

In [42]:
x_st["Marketing Spend"].head()

0    114523.61
1    162597.70
2    153441.51
3    144372.41
4    142107.34
Name: Marketing Spend, dtype: float64

In [43]:
x_st["Marketing Spend"]=st.transform(x_st[["Marketing Spend"]])#Actually transforms data and replace in place
x_st["Marketing Spend"].head()

0    0.897913
1    1.955860
2    1.754364
3    1.554784
4    1.504937
Name: Marketing Spend, dtype: float64

# Log Transformation

**Only Manual Method Found**

In [49]:
xl=x2.copy()
xl.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [50]:
xlmar=xl["Marketing Spend"]

In [51]:
xlmar.head()

0    114523.61
1    162597.70
2    153441.51
3    144372.41
4    142107.34
Name: Marketing Spend, dtype: float64

In [59]:
def logtransform (n):
    k=np.log(n)
    return k
xlmar.apply(logtransform)

0     11.648536
1     11.999034
2     11.941075
3     11.880151
4     11.864338
5     11.789624
6     11.810178
7     11.777580
8     11.699758
9     11.722659
10    11.531876
11    11.519623
12    11.449600
13    11.429461
14    11.694774
15    12.015815
16    11.264632
17    11.458017
18    11.426814
19    11.366971
20    11.241823
21    11.269445
22    11.211747
23    11.120365
24    11.252132
25    11.076971
26    11.229619
27    11.185915
28    11.098190
29    11.091415
30    11.034801
31    11.020862
32    11.057359
33    10.924029
34    10.745616
35    10.736701
36    10.263389
37    10.693533
38     9.914902
39    10.559932
40    10.266544
41    10.236128
42    10.070735
43     9.648965
44    10.006844
45     6.907985
46     7.181942
47         -inf
48     6.295358
49         -inf
Name: Marketing Spend, dtype: float64

# Max Absolute Scalar

**Manual Method**

In [60]:
xm=x2.copy()
xm.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [63]:
xmas=xm["Marketing Spend"]
#xmas.head()
xmas.max()

165349.2

In [64]:
def max_abs_scalar(n):
    k=n/165349.2
    return k
xmas.apply(max_abs_scalar)

0     0.692617
1     0.983359
2     0.927985
3     0.873136
4     0.859438
5     0.797566
6     0.814128
7     0.788018
8     0.729018
9     0.745906
10    0.616351
11    0.608845
12    0.567670
13    0.556352
14    0.725394
15    1.000000
16    0.471808
17    0.572468
18    0.554881
19    0.522650
20    0.461169
21    0.474084
22    0.447505
23    0.408424
24    0.465947
25    0.391080
26    0.455574
27    0.436093
28    0.399467
29    0.396769
30    0.374931
31    0.369741
32    0.383485
33    0.335617
34    0.280776
35    0.278284
36    0.173353
37    0.266527
38    0.122345
39    0.233194
40    0.173901
41    0.168691
42    0.142976
43    0.093776
44    0.134127
45    0.006049
46    0.007956
47    0.000000
48    0.003278
49    0.000000
Name: Marketing Spend, dtype: float64

**Using Python Library**

In [65]:
#Importing library and creating object
from sklearn.preprocessing import MaxAbsScaler
mas = MaxAbsScaler()

In [66]:
#Fitting
df_mar_mas=mas.fit(xm[["Marketing Spend"]])#Fit only calculates but it does not change the data frame
df_mar_mas

MaxAbsScaler()

In [67]:
xm["Marketing Spend"]=mas.transform(xm[["Marketing Spend"]])#Actually transforms data and replace in place
xm["Marketing Spend"].head()

0    0.692617
1    0.983359
2    0.927985
3    0.873136
4    0.859438
Name: Marketing Spend, dtype: float64

# Robust Scalar

**Manual Method**

In [68]:
xrc=x2.copy()
xrc.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [69]:
xrc["Marketing Spend"].quantile(0.25)

39936.37

In [70]:
xrc["Marketing Spend"].quantile(0.50)

73051.08

In [71]:
xrc["Marketing Spend"].quantile(0.75)

101602.8

In [72]:
def robust_scalar(n):
    k=(n-73051.08)/(101602.8-39936.37)
    return k
xrcm=xrc["Marketing Spend"]
xrcm.apply(robust_scalar)

0     0.672530
1     1.452113
2     1.303634
3     1.156567
4     1.119836
5     0.953936
6     0.998345
7     0.928334
8     0.770134
9     0.815416
10    0.468034
11    0.447908
12    0.337504
13    0.307158
14    0.760416
15    1.496732
16    0.080466
17    0.350370
18    0.303213
19    0.216789
20    0.051937
21    0.086569
22    0.015300
23   -0.089490
24    0.064750
25   -0.135996
26    0.036937
27   -0.015300
28   -0.113507
29   -0.120740
30   -0.179297
31   -0.193212
32   -0.156361
33   -0.284711
34   -0.431759
35   -0.438440
36   -0.719797
37   -0.469966
38   -0.856568
39   -0.559341
40   -0.718328
41   -0.732297
42   -0.801249
43   -0.933171
44   -0.824976
45   -1.168397
46   -1.163285
47   -1.184617
48   -1.175827
49   -1.184617
Name: Marketing Spend, dtype: float64

**Using Python Library**

In [73]:
#Importing Library and Creating Object
from sklearn.preprocessing import RobustScaler
rc=RobustScaler()

In [74]:
#Fitting
df_mar_rc=rc.fit(xrc[["Marketing Spend"]])#Fit only calculates but it does not change the data frame
df_mar_rc

RobustScaler()

In [75]:
xrc["Marketing Spend"]=rc.transform(xrc[["Marketing Spend"]])#Actually transforms data and replace in place
xrc["Marketing Spend"].head()

0    0.672530
1    1.452113
2    1.303634
3    1.156567
4    1.119836
Name: Marketing Spend, dtype: float64